{{> nav}}
<div class="space"></div>
<div class="project-container">
    <div class="project">
        <h1>{{project.projectName}}</h1>
        <p>Due <span>{{project.deadlineFormatted}}</span></p>
        <h4 class="created-by">created by:
            <a href='/auth/profile/{{project.createdBy.id}}'>{{project.createdBy.firstName}}
                {{project.createdBy.lastName}}</a>
        </h4>
        <p>{{project.description}}</p>
    </div>
</div>