<div class='rows-container'>
    {{#each projects}}
    <div class='project'>
        <h1><a href="/projects/{{id}}">{{projectName}}</a></h1>
        <i class="far fa-clock"></i> <span>Due {{deadlineFormatted}}</span>
        <p>{{description}}</p>
        <span class="skills">{{skills}}</span>
        <h4 class="created-by">created by: <a href='/auth/profile/{{createdBy.id}}'>{{createdBy.firstName}}</a></h4>
    </div>
    {{/each}}
</div>