<h1>{{project.projectName}}</h1>
<h2>Created by:
    <a href='/auth/profile/{{project.createdBy.id}}'>{{project.createdBy.firstName}} {{project.createdBy.lastName}}</a>
</h2>
<p>{{project.description}}</p>
<p>Due <span>{{project.deadlineFormatted}}</span></p>