{{#each users}}
<h1>
    <a href="/profile:{{id}}">{{firstName}} {{lastName}}</a>
</h1>

<h2>{{specialty}}</h2>


{{#if pictureUrl}}
<img src="{{pictureUrl}}" alt="{{firstName}}'s profile picture">
{{/if}}
<br><br>
{{/each}}